*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	background-color:#E8E2D0;

}
.thumbnailContainer{
	position: relative;
	text-align: center
	
}
/*.titleDiv{
	position: absolute;
	top: 50%;
	left: 50%;
/*	transform: translate(-50%, -50%);*/

.headImage{
	width: 100%;
	height: auto%;
	margin: 0px;
	padding: 0px;
	filter: brightness(75%);
}

.myText {
	position: absolute;
	color: white;
	font-size: 80px;
	width: 80%;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.learn {
	position: absolute;
	color: white;
	font-size: 20px;
	width: 80%;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0px;
	margin: 0px;

}

.arrowDown {
	position: relative;
	border: solid white;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 40px;
}

.conntentContainer{
	position: relative;
	background-color: gray;

}

.card{
	background-color: white;
	display: inline-block;
	width: 32%;
	aspect-ratio: 1/1;
	padding: 0px;
	margin: 0px;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.container{
  padding: 2px 16px;
}
/*.imgOne{
	position:absolute;
	width: 18rem;
	height: auto;*/
/*}
.imgTwo{
	position:absolute;
	width: 18rem;
	height: auto;
}*/
/*.imgThree{
	position:absolute;
	width: 18rem;
	height: auto;
}*/
h4 {
	text-align: center;
	color: black;
}
h2{
	text-align: center;
	margin-bottom: 50px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}
.topnav a{
	float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.topnav a:hover {
  background-color: black;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

/*.imgOne{
	height: 1000px;
	width: 500px;
}*/
/*body {
	font-familt: sans-serif;
}

#nav {
	background-color: #ff0072;
	padding: 10px;
}
/*
/*once you visit a page, default behavior is to give link to page a diff color*/
/*a, a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;*/
/*	margine: 10px <- would only place color inside the content box*/

/*}*/


/*a:hover {
	background-color: #000;
	color: #ff0072;

}

.current{
	text-decoration: underline;
}*/